<app-navbar-aux></app-navbar-aux>

<main class="contenedor seccion">

    <div class="nosotros">

        <div class="imagen-nosotros">
            <img class="radio-imagen" src="../../../assets/images/nosotros.jpg" alt="Imagen Nosotros">
        </div>

        <div class="contenido-nosotros">
            <h2 class="centrar-texto">Esto es Cubic Music</h2>
            <p class="f-w fs-2">
                La disquera de la música independiente más grande en México. Llevamos 15 años produciendo artistas y conceptos, tenemos la experiencia que necesitas para llevar tu proyecto a un siguiente nivel.
            </p>

            <div class="estadisticas">

                <h4>Crecimiento Exponencial</h4>
                <p  class="f-w fs-2 mb-4">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci quisquam nemo fugiat hic sit id aliquam non laboriosam, placeat impedit nam, asperiores possimus labore qui aspernatur illo, itaque architecto saepe?
                </p>
                <img src="../../../assets/images/grafico-exponencial.png" alt="Estadisticas" style="width: 15rem;">

            </div>
        </div>

    </div>

</main>

<app-footer></app-footer>