<footer class>
    <div class="barra footer">
        <div>
            <a href="index.php">
                <img src="../../../../assets/images/logo.png" alt="Icono Cubic Music">
            </a>
        </div>
        <div class="info">
            <h4 class="f-w fs-3">Redes:</h4>
            <div class="redes">
                <a href="#">
                    <img src="../../../../assets/images/logotipo-facebook.png" alt="Logotipo de Facebook">
                </a>
                <a href="#">
                    <img src="../../../../assets/images/logotipo-twitter.png" alt="Logotipo de Twitter">
                </a>
                <a href="#">
                    <img src="../../../../assets/images/logotipo-instagram.jpg.png" alt="Logotipo de Instagram">
                </a>
            </div>
            <h4 class="f-w fs-3">Tel: 5511246879</h4>
            <h4 class="f-w fs-3">cubicmusic_contacto@gmail.com</h4>
            <h4 class="f-w fs-3">Calle de la Musica #40, Torreon, Coah. 27145</h4>
        </div>
        <div>
            <p class="f-w fs-3">Todos los derechos reservados &copy;</p>
        </div>
    </div>
</footer>