<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper " >
        <!-- Slides -->
        <div class="swiper-slide" *ngFor="let artista of artistas">
            <div class="title" data-swiper-parallax="-300">
                <h3>
                    {{ artista.name }}
                </h3>
            </div>
            <img [src]="artista.img" alt="">
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>